---
import CvSubtitle from "@components/CvSubtitle.astro";
---

<div>
  <CvSubtitle variant="big">Cursos</CvSubtitle>
  <div>
    <div>Python for Data Science and Machine Learning</div>
    <div>Python Flask REST API</div>
  </div>
</div>
