---
import CvSubtitle from "@components/CvSubtitle.astro";
---

<div>
  <CvSubtitle variant="big">Educación</CvSubtitle>
  <div>
    <CvSubtitle variant="medium"
      >Licenciatura en Ingenieria en Tecnologias Computacionales
    </CvSubtitle>
    <CvSubtitle variant="small">Universidad CNCI</CvSubtitle>
    <div>09/2018 - 12/2023</div>
  </div>
</div>
