---
import CvSubtitle from "@components/CvSubtitle.astro";
import CvTextBlock from "@components/CvTextBlock.astro";
import SpacingLine from "@components/SpacingLine.astro";
---

<div>
  <CvSubtitle variant="big">Experiencia</CvSubtitle>
  <div>
    <CvSubtitle variant="medium">
      Pasante - Gestión de Mantenimiento y Confiabilidad
    </CvSubtitle>
    <div class="experience_job-data">
      <CvSubtitle variant="small">PEMEX - Petróleos Mexicanos</CvSubtitle>
      <div class="experience_job-meta">
        <div>02/2019 - 08/2019</div>
        <div>Poza Rica, Veracruz, MX</div>
      </div>
    </div>
    <CvTextBlock>
      Análisis de bases de datos de mantenimiento y automatización de reportes
      mediante Excel y macros VBA para las áreas de gerencia y logística.
    </CvTextBlock>
  </div>
</div>

<style>
  .experience_job-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
</style>
