---
import CvSubtitle from "@components/CvSubtitle.astro";
import CvTextBlock from "@components/CvTextBlock.astro";
---

<div>
  <CvSubtitle variant="big">Resumen</CvSubtitle>
  <CvTextBlock>
    Desarrollador Full Stack con sólida experiencia en backend
    (Python/Flask/FastAPI) y frontend (React), experiencia en arquitecturas
    escalables, DevOps y en diseño e implementación de sistemas completos para
    producción, incluyendo autenticación, manejo de roles, integración con bases
    de datos PostgreSQL, y despliegue en AWS usando Docker. Enfoque en
    desarrollo backend y prácticas DevOps con infraestructura como código.
  </CvTextBlock>
</div>
